<section id="main-slider">
    <div class="omanLandingPg">
        <div class="bannerSec">
            <div class="bannerImg">
                <span></span>
                <img src="\images\main-slider\oman-mainslider-bg.jpg" alt="">
            </div>
            <div class="bannerContent">
                <div class="bannerText">
                    <h1 class="heading">WE SERVE QUALITY FOOD</h1>
                    <p class="subHeading">
                        Immerse yourself in the rich, vibrant flavors of authentic Indian vegetarian cuisine. 
                        Each dish is carefully crafted to capture the true essence of India, bringing you the bold and 
                        aromatic flavors that make Indian food so unforgettable. Every bite offers a unique experience, 
                        transporting you to the heart of India with every meal.
                    </p>
                </div>
            </div>
            <div class="bannerSubImg">
                <img src="/images/main-slider/image-6.jpg" alt="">
            </div>
        </div>
    </div>
</section>